<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="SauceDemoSuite">

    <test name="AllTests">
        <classes>
            <class name="org.example.tests.LoginTest"/>
            <class name="org.example.tests.CartTest"/>
            <class name="org.example.tests.CheckoutTest"/>
        </classes>
    </test>

</suite>